body {
    padding-top: 50px;
}
.starter-template {
    padding: 5px;
}

.loader {
    background: url(ajax-loader.gif) no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.process-editor {
    height: 93%;
    padding-left: 0;
    padding-right: 0;
}