body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}

.loader {
    background: url(ajax-loader.gif) no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}